# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / Rider
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Crashes
sysinfo.txt
crashlytics-build.properties

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Gradle (Android builds)
ExportedObj/
*.unitypackage
.gradle/
